.statisticsPage {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.headerBlock {
  display: flex;
  justify-content: space-between;
}

.header {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.errorMessage {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-negative);
}

.activityBlock {
  display: flex;
  height: 471px;
  gap: var(--gap);
  ;
}

.dayActivity {
  display: flex;
  flex-direction: column;
  width: 296px;
  height: 471px;
  gap: var(--gap);
  ;
}

.focusRates {
  display: flex;
  gap: var(--gap);
  ;
}
