.timerPage {
  width: 733px;
  height: 507px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 55px;
  padding: 20px 40px;
  color: var(--color-secondary);
  background-color: var(--color-grey);
}

.header_pause {
  background-color: var(--color-negative);
}

.header_break {
  background-color: var(--color-positive);
}

.mainBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  padding: 60px 0;
  gap: var(--gap);
  background-color: var(--color-grey_lighten);
}

.timerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding-left: 75px;
}

.taskBlock {
  display: flex;
}

.taskCounter {
  color: var(--color-grey_dark);
}

.buttonsBlock {
  display: flex;
  gap: 25px;
}

.errorMessage {
  color: var(--color-negative);
}
