.button {
  width: fit-content;
  height: 55px;
  padding: 17px 50px;
  font-weight: 500;
  color: var(--color-secondary);
  background-color: var(--color-positive);
  border: 2px solid var(--color-positive);
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.negative {
  color: var(--color-negative);
  background-color: transparent;
  border-color: var(--color-negative);
}

.disabled {
  color: var(--color-grey);
  border-color: var(--color-grey);
  background-color: var(--color-grey_lighten);
  cursor: inherit;
}

.button:hover {
  background-color: var(--color-positive-dark);
  border-color: var(--color-positive-dark);
}

.negative:hover {
  color: var(--color-secondary);
  background-color: var(--color-negative);
  border-color: var(--color-negative);
}

.disabled:hover {
  background-color: var(--color-grey_lighten);
  border-color: var(--color-grey);
}
