.pauseCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 405px;
  height: 179px;
  padding: 25px;
  background-color: var(--color-pause-count_light);
}

.pauseCount_blank {
  background-color: var(--color-grey_lighten);
}

.dataBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
}

.pauseNumber {
  font-size: 64px;
  line-height: 76px;
}

.pauseCountIcon {
  fill: none;
  stroke: var(--color-pause-count);
  width: 129px;
  height: 129px;
}

.pauseCountIcon_disabled {
  stroke: var(--color-grey);
}
