.taskFormPage {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.taskInput {
  width: 370px;
  height: 55px;
  padding: 20px 15px;
  background-color: var(--color-grey_lighten);
  border: none;
}

.errorMessage {
  color: var(--color-negative);
}
