.plusBtn {
  border: none;
  background-color: transparent;
}

.plusBtnImg {
  width: 50px;
  height: 50px;
  fill: var(--color-grey);
  transition: fill .3s ease-in-out;
}

.plusBtnImg:hover {
  fill: var(--color-positive-dark);
}
